body {
  background: #0e0e0e;
}

.logo {
text-align: center;
display: block;
font-family: Trebuchet MS;
color: #aaa;
font-size: 17px;
font-weight: 500;
line-height: 2em;
}

.description {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  font-family: Poppins,Arial;
  color: #aaa;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.7em;
}




@media only screen and (max-width: 320px) {
  .imgl {
    width: 22.5vh;
    height: auto;
  }
